langchain
langchain-community
langchain-openai
langchain-chroma
langgraph
chromadb
faiss-cpu
pypdf
langchain-pinecone
langchain-weaviate
weaviate-client
wikipedia
youtube_search
duckduckgo_search
langchain_groq
yfinance
youtube-search
duckduckgo_search